* {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
}
body {
    background-color: #2c2d5c;
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 2px solid #787ab21f;
    color: #c1c1c1;
}
header p {
    font-size: 14px;
    font-weight: bold;
}
header span {
    width: 50px;
    display: flex;
}
.banner img {
    margin: 30px auto 20px;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    object-fit: cover;
    box-shadow: 0px 0px 30px -16px #fff;
}
.controls {padding: 16px;}
.progress {
    margin-top: -15px;
    padding-top: 15px;
}
.progress-wrapper {
    width: 100%;
    background-color: #33366a;
    height: 2px;
}
.progress-bar {
    width: 50%;
    background-color: #e5d6a6;
    height: 2px;
}
.time {
    margin-top: 10px;
    font-size: 12px;
    color: #818181;
    font-weight: bold;
    overflow: auto;
}
.current-time {
    float: left;
}
.total-time {
    float: right;
}
.music-info {
    margin-top: 10px;
    text-align: center;
}
.music-title {
    font-weight: bold;
    font-size: 15px;
}
.music-album {
    font-weight: bold;
    font-size: 12px;
    color: #818181;
}
.controls .keys {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.keys a {
    font-size: 25px;
    line-height: 25px;
    height: 25px;
    width: 45px;
    text-align: center;
}
.keys a.inactive {
    color: #818181;
}
.keys .play-button {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    width: 80px;
}
.keys .loop-button {
    text-align: left;
}
.keys .download-button {
    text-align: right;
}
.music-list {
    padding: 16px;
    list-style: none;
    margin-top: 10px;
}
.music-list li {
    margin-bottom: 25px;
}
.music-list .poster {
    margin-right: 10px;
    height: 44px;
    width: 44px;
    float: left;
    border-radius: 22px;
    background-color: #455;
}
.music-list .poster span {
    font-size: 25px;
    width: 44px;
    line-height: 44px;
    display: block;
    text-align: center;
    color: #b5b5b5;
}
.music-list img {
    margin-right: 10px;
    height: 44px;
    width: 44px;
    object-fit: cover;
    float: left;
    border-radius: 22px;
}