@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');


.s_countries {
  width               : 100%;
  min-width: 100%;
  height              : 100vh;
  min-height: 100vh;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(251, 251, 251, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.s_countries .rectangle2 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 0px;
  height: 100vh;
  width: 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.s_countries .navigationbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 23px;
  width: auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  right: 16px;
}
.s_countries .navigationbar .selectcountry {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left: 50%;
  transform: rotate(0deg) translateX(-50%);
  opacity             : 1.0;
  font-family         :
  "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(37, 40, 55, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.s_countries .navigationbar .close {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.s_countries .navigationbar .close .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.s_countries .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height: calc(100vh - 65px);
  position            : absolute;
  margin              : 0;
  left: 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  right: 16px;
  width: calc(100% - 32px);
}
.s_countries .section1 {
  background-color    : rgba(255,255,255,0.0);
  top: 60px;
  width: auto;
  position            : absolute;
  margin              : 0;
  left: 32px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  right: 32px;
  overflow: auto;
  bottom: 10px;
}
.s_countries .section1 > div {
  background-color    : rgba(255,255,255,0.0);
  height              : auto;
  width               : auto;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family: "Nunito Sans", Helvetica, Arial, serif;
  font-weight: normal;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(34, 37, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
  border-bottom: 2px solid #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s_countries .section1 > div.active {
  color: #249d0f;
  color: inherit;
  background-color: rgba(227, 169, 41, 0.11);
  /* color: #fff; */
  background-color: rgba(93, 173, 255, 0.15);
}
.s_countries .section1 .checkicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 8px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.s_countries .section1 .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 2px;
  box-sizing          : border-box;
  width: auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 0.07;
  right: 0;
}
.s_countries .section1 .linecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 2px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 0.07;
}
.s_countries .section1 .linecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : 2px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  transform           : rotate(0deg);
  opacity             : 0.07;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}