<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link href="./img/favicon.png" rel="shortcut icon" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="default" name="apple-mobile-web-app-status-bar-style" />
    <link href="./css/s_countries.css" rel="stylesheet" type="text/css" />
    <link href="./css/index.css" rel="stylesheet" type="text/css" />
    <script defer="" src="hotspots.js">
    </script>
    <meta content="AnimaApp.com - Design to code, Automated." name="author" />

    <script>
        const user = localStorage.getItem("user");
        if (user) {
            window.location.href = 'chat.html';
        }
    </script>
</head>

<body style="margin: 0;background: rgba(251, 251, 251, 1.0);" ng-controller="myController">



    <input id="anPageName" name="page" type="hidden" value="index" />
    <div class="index anima-word-break ">
        <div style="width: 100%; height: 100%; position:relative; margin:auto;">
            <div class="rectangle2">
            </div>
            <!-- <div class="photo">
                    <img alt="Image" anima-src="./img/index-photo@2x.png" class="photo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="upload">
                    <img alt="Image" anima-src="./img/index-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="nouncamera862295">
                        <div class="group">
                            <img alt="Image" anima-src="./img/index-shape@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div> -->
            <div class="navigationbar">
                <div class="arrownew">
                    <img alt="Image" anima-src="./img/index-shape-1@2x.png" class="shape"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                </div>
                <div class="signup">
                    Sign Up
                </div>
            </div>
            <div style="position: absolute;width: 100%;top: -150px;">
                <div class="alreadyhaveanaccountlogin">
                    <span class="span1">Already have an account?</span><span class="span2"> </span><span
                        class="span3">LOG IN</span>
                </div>
                <div class="btn-view">
                    <div class="backgroundcopy">
                    </div>
                    <a href="">
                        <div class="u21b3value" onclick="valid()">
                            Continue
                        </div>
                    </a>
                </div>


                <div id="country">
                    {{country.TelPref}}
                </div>

                <div class="phonenumber">
                    <div class="username">
                        <div class="text">
                            <span class="u21b3value">+{{country.TelPref}}&nbsp;&nbsp;</span>
                            <input class="u21b3value" placeholder="458-021-9615" type="number" id="fill" />
                            <span id="message"></span>
                        </div>
                        <div class="label">
                            <div class="u21b3value">
                                Phone number
                            </div>
                        </div>
                    </div>
                </div>
                <a href="javascript:animaShowOverlay('s_countries', 'anima-animate-enter1'); anima_loadAsyncSrc(); ">
                    <div class="country">
                        <img alt="Image" anima-src="./img/index-rectangle-5-copy.png" class="rectangle5copy"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <div class="icon">
                            <img alt="Image" anima-src="./img/index-icon@2x.png" class="icon1"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        </div>
                        <div class="name">
                            <div class="text">
                                <div class="u21b3value">
                                    <img ng-src="http://www.geognos.com/api/en/countries/flag/{{country.code}}.png"
                                        alt="" style="width: 22px;margin-right: 10px;">
                                    {{country.Name}}
                                </div>
                            </div>
                            <div class="label">
                                <div class="u21b3value">
                                    Choose Country
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="anima-overlay" id="overlay-s_countries" style="min-height:100vh; position:fixed;">
        <div class="s_countries anima-word-break ">
            <div style="width: 100%; height: 100%; position:relative; margin:auto;">
                <div class="rectangle2">
                </div>
                <div class="navigationbar">
                    <div class="selectcountry">
                        Select Country
                    </div>
                    <a href="javascript:animaHideOverlay('s_countries', 'anima-animate-disappear');">
                        <div class="close">
                            <img alt="Image" anima-src="./img/filter-f2-copy-icon@2x.png" class="icon"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        </div>
                    </a>
                </div>
                <img alt="Image" anima-src="./img/filter-f2-copy-rectangle-5.png" class="rectangle5"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                <div class="section1" id="countryList">
                    <div ng-repeat="country in countries" ng-class="{active : country.active}"
                        ng-click="selectCountry(country)">
                        <img ng-src="http://www.geognos.com/api/en/countries/flag/{{country.code}}.png" alt=""
                            style="width: 22px;margin-right: 10px;">
                        <span style="flex-grow: 1;">{{country.Name}}</span>
                        <span style="word-break: normal;">+{{country.TelPref}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var overlay_id = "overlay-s_countries";
        document.getElementById(overlay_id).addEventListener("click", function (event) {
            var e = event || window.event;
            var clickedDiv = e.toElement || e.target;
            if (clickedDiv.parentElement.id == overlay_id) {
                animaHideOverlay('s_countries', 'anima-animate-disappear');
            }
        }, false);
        // validation
        function valid() {
            var mob = document.getElementById("fill").value
            var concode = document.getElementById("country").innerText
            var a = '+' + concode + mob;
            var localvalue = concode + mob;
            localStorage.setItem("mobkey", localvalue);
            console.log(a, concode);
            if (mob == "") {
                document.getElementById("message").innerHTML = "** please fill this mobile number";
                return false;
            }
            else {
                sendSMS(a);

            }
        }


    </script>
    <!-- Scripts -->
    <script>
        anima_isHidden = function (e) {
            if (!(e instanceof HTMLElement)) return !1;
            if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
            return !1;
        };
        anima_loadAsyncSrcForTag = function (tag) {
            var elements = document.getElementsByTagName(tag);
            var toLoad = [];
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var src = e.getAttribute("src");
                var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                if (loaded) continue;
                var asyncSrc = e.getAttribute("anima-src");
                if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                if (anima_isHidden(e)) continue;
                toLoad.push(e);
            }
            toLoad.sort(function (a, b) {
                return anima_getTop(a) - anima_getTop(b);
            });
            for (var i = 0; i < toLoad.length; i++) {
                var e = toLoad[i];
                var asyncSrc = e.getAttribute("anima-src");
                e.setAttribute("src", asyncSrc);
            }
        };
        anima_pauseHiddenVideos = function (tag) {
            var elements = document.getElementsByTagName("video");
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                var isHidden = anima_isHidden(e);
                if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                    e.play();
                } else if (isPlaying && isHidden) {
                    e.pause();
                }
            }
        };
        anima_loadAsyncSrc = function (tag) {
            anima_loadAsyncSrcForTag("img");
            anima_loadAsyncSrcForTag("iframe");
            anima_loadAsyncSrcForTag("video");
            anima_pauseHiddenVideos();
        };
        var anima_getTop = function (e) {
            var top = 0;
            do {
                top += e.offsetTop || 0;
                e = e.offsetParent;
            } while (e);
            return top;
        };
        anima_loadAsyncSrc();
        anima_old_onResize = window.onresize;
        anima_new_onResize = undefined;
        anima_updateOnResize = function () {
            if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                anima_new_onResize = function (x) {
                    if (anima_old_onResize != undefined) anima_old_onResize(x);
                    anima_loadAsyncSrc();
                };
                window.onresize = anima_new_onResize;
                setTimeout(function () {
                    anima_updateOnResize();
                }, 3000);
            }
        };
        anima_updateOnResize();
        setTimeout(function () {
            anima_loadAsyncSrc();
        }, 200);
    </script>
    <script>
        function AnimaShowOnScroll() {
            this.toShow = [];
            this.nextEventY = undefined;
        }
        AnimaShowOnScroll.prototype.show = function (e) {
            e.style.display = "";
        };
        AnimaShowOnScroll.prototype.hide = function (e) {
            e.style.display = "none";
        };
        AnimaShowOnScroll.prototype.getTop = function (e) {
            if (e.animaTop != undefined && e.animaTop != 0) {
                return e.animaTop;
            }
            var top = 0;
            var iter = e;
            do {
                top += iter.offsetTop || 0;
                iter = iter.offsetParent;
            } while (iter);
            e.animaTop = top;
            return top;
        };
        AnimaShowOnScroll.prototype.onScroll = function () {
            var screenBottom = window.pageYOffset + window.innerHeight;
            if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
                return;
            }
            this.nextEventY = undefined;
            for (var i = 0; i < this.toShow.length; i++) {
                var e = this.toShow[i];
                var top = this.getTop(e);
                if (top < screenBottom) {
                    this.show(e);
                    this.toShow.shift();
                    i--;
                } else {
                    this.nextEventY = top;
                    break;
                }
            }
        };
        AnimaShowOnScroll.prototype.resetScrolling = function () {
            var screenBottom = window.pageYOffset + window.innerHeight;
            for (var i = 0; i < this.toShow.length; i++) {
                var e = this.toShow[i];
                this.show(e);
            }
            this.toShow = [];
            this.nextEventY == undefined;
            var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
            itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
                return e.getAttribute("anima-show-on-scroll") != undefined;
            });
            var getTop = this.getTop;
            itemsToShowOnScroll.sort(function (a, b) {
                return getTop(a) - getTop(b);
            });
            for (var i = 0; i < itemsToShowOnScroll.length; i++) {
                var e = itemsToShowOnScroll[i];
                var top = this.getTop(e);
                if (top < screenBottom) {
                    continue;
                }
                this.toShow.push(e);
                this.hide(e);
                this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
            }
        };
        AnimaShowOnScroll.prototype.handleEvent = function (e) {
            switch (e.type) {
                case "scroll":
                    this.onScroll();
                    break;
                case "resize":
                    this.resetScrolling();
                    break;
            }
        };
        AnimaShowOnScroll.prototype.init = function () {
            this.resetScrolling();
            window.addEventListener("scroll", this);
            window.addEventListener("resize", this);
        };
        setTimeout(function () {
            var animaShowOnScroll = new AnimaShowOnScroll();
            animaShowOnScroll.init();
        }, 250);
    </script>
    <script>
        animaShowOverlay = function (overlayName, animationName) {
            overlayName = 'overlay-' + overlayName;
            var cssClasses = document.getElementById(overlayName).className.split(' ');
            var last = cssClasses.slice(-1)[0];
            if (last.lastIndexOf('anima-animate') == -1) {
                document.getElementById(overlayName).className = document.getElementById(overlayName).className + " " + animationName;
                window.scrollToCountry();
            }
            if (window.anima_loadAsyncSrc != undefined) {
                anima_loadAsyncSrc();
            }
        };
        animaHideOverlay = function (overlayName, animationName) {
            overlayName = 'overlay-' + overlayName;
            var cssClasses = document.getElementById(overlayName).className.split(' ');
            var last = cssClasses.slice(-1)[0];
            if (last.lastIndexOf('anima-animate') != -1) {
                cssClasses.splice(-1);
                cssClasses.push(animationName);
                document.getElementById(overlayName).className = cssClasses.join(' ');
                cssClasses.splice(-1);
                setTimeout(function () {
                    document.getElementById(overlayName).className = cssClasses.join(' ');
                }, 100);
            }
            var vids = document.getElementsByTagName('video');
            if (vids) {
                for (var i = 0; i < vids.length; i++) {
                    var video = vids.item(i);
                    video.pause();
                }
            }
        };
    </script>
    <!-- End of Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope, $http, $sce) {
            fetch('./countries.json').then(res => res.json()).then(res => {
                console.log(res);
                $scope.countries = res;
                $scope.country = res.find(country => country.code == 'IN');
                $scope.country.active = true;
                console.log($scope.country);
                $scope.$apply();
            });
            window.scrollToCountry = function () {
                document.getElementsByClassName('active')[0].scrollIntoView();
                document.getElementsByClassName('active')[0].parentElement.scrollBy(0, -(window.innerHeight / 2) + 100);
            }
            $scope.selectCountry = function (country) {
                $scope.country.active = false;
                country.active = true;
                $scope.country = country;
                animaHideOverlay('s_countries', 'anima-animate-disappear');
            }


            sendSMS = (a) => {

                var newa = a.replace(/^\s\s\n+|\s\n+$/g, '');
                var newdata = newa.trim()
                console.log(newdata, 'a')

                var data = { "mob_no": newdata }
                console.log(data)
                const url = 'http://165.22.218.93:8000/api/v1/send_sms_code/'

                $http.post(url, JSON.stringify(data)).then((response, status, config) => {

                    console.log(status, 'status')
                    console.log(response)
                    if (response) {
                        window.location.href = 'verifyotp.html';
                    }

                }, (error, status, config) => {
                    console.log(status, 'status')
                    console.log(error)
                    document.getElementById("message").innerHTML = "** please fill valid mobile number";
                }
                );


            }


        });

    </script>
</body>

</html>